<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Government College of Engineering</title>
    <link rel="stylesheet" href="/style.css">
    
</head>
<body>
    <div class="container">
        <div class="img" style="justify-content: center; display: flex;"><img src="/logo.png" class="logo"></div>
        <h1>Government college of Engineering</h1>
        <div class="login-options">
            <button id="student-btn"><a href="/student/login" style="text-decoration: none; font-size: larger;font-weight: bold;color: white;">Student Login</a></button>
            <button id="teacher-btn"><a href="/admin/login" style="text-decoration: none; font-size: larger;font-weight: bold;color: white;">Admin Login</a></button>
           
        </div>
       
       
    </div>

  
</body>
</html>